body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #808080;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height:400px;
  overflow:scroll;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin: auto;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  font-size: 16px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  background-color: Beige;
  font-weight: normal;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "|";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
  font-weight: bold;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover {
  color: #01447e;
  text-decoration: underline;
  font-weight: bold;
}

input[type=text], [type=number], [type=select] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text], [type=number], [type=select]:focus {
  background-color: lightblue;
}

button .bttn {
	margin-top: 20px;
}

.search-container {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

search-container button:hover {
  background: #ccc;
}

#text {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: light-blue;
  width: 70%;
}

.header {
	color: red;
	text-decoration: underline;
	font-weight: bold;
}

.review {
	color: blue;
	font-weight: bold;
}

.alink {
	color: blue;
}

.alink:hover {
	font-weight: bold;
	color: cyan;
}

.tabledata td
{
	width: 25%;
}